{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% load crispy_forms_tags %}
<!--  -->
{% block content %}
<!-- start page title -->
<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<h4 class="page-title">Projects</h4>
		</div>
	</div>
</div>
<!-- end page title -->
<div class="row">
	<div class="col-sm-6 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div class="flex-shrink-0 me-3">
						<div class="avatar-sm">
							<span class="avatar-title bg-primary-lighten text-primary rounded">
								<i class="mdi mdi-file-document-edit font-24"></i>
							</span>
						</div>
					</div>
					<div class="flex-grow-1">
						<h5 class="mt-0 mb-1">All Projects</h5>
						<p class="mb-0">{{ project_count }}</p>
					</div>
					<div class="dropdown float-end">
						<a
							href="#"
							class="dropdown-toggle arrow-none card-drop"
							data-bs-toggle="dropdown"
							aria-expanded="false">
							<i class="mdi mdi-dots-vertical"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-end">
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Today</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Yesterday</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Last Week</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Last Month</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div class="flex-shrink-0 me-3">
						<div class="avatar-sm">
							<span class="avatar-title bg-primary-lighten text-primary rounded">
								<i class="mdi mdi-file-document-edit font-24"></i>
							</span>
						</div>
					</div>
					<div class="flex-grow-1">
						<h5 class="mt-0 mb-1">Total Expenses</h5>
						<p class="mb-0">{{ total_expenses_business|floatformat:'2g' }}</p>
					</div>
					<div class="dropdown float-end">
						<a
							href="#"
							class="dropdown-toggle arrow-none card-drop"
							data-bs-toggle="dropdown"
							aria-expanded="false">
							<i class="mdi mdi-dots-vertical"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-end">
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Today</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Yesterday</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Last Week</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Last Month</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div class="flex-shrink-0 me-3">
						<div class="avatar-sm">
							<span class="avatar-title bg-primary-lighten text-primary rounded">
								<i class="mdi mdi-file-document-edit font-24"></i>
							</span>
						</div>
					</div>
					<div class="flex-grow-1">
						<h5 class="mt-0 mb-1">Total Sales</h5>
						<p class="mb-0">{{ total_sales_business|floatformat:'2g' }}</p>
					</div>
					<div class="dropdown float-end">
						<a
							href="#"
							class="dropdown-toggle arrow-none card-drop"
							data-bs-toggle="dropdown"
							aria-expanded="false">
							<i class="mdi mdi-dots-vertical"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-end">
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Today</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Yesterday</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Last Week</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Last Month</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div class="flex-shrink-0 me-3">
						<div class="avatar-sm">
							<span class="avatar-title bg-primary-lighten text-primary rounded">
								<i class="mdi mdi-file-document-edit font-24"></i>
							</span>
						</div>
					</div>
					<div class="flex-grow-1">
						<h5 class="mt-0 mb-1">Completed Projects</h5>
						<p class="mb-0">{{ completed_projects_business }}</p>
					</div>
					<div class="dropdown float-end">
						<a
							href="#"
							class="dropdown-toggle arrow-none card-drop"
							data-bs-toggle="dropdown"
							aria-expanded="false">
							<i class="mdi mdi-dots-vertical"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-end">
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Today</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Yesterday</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Last Week</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Last Month</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header d-flex justify-content-between align-items-center"></div>

			<div class="card-body pt-0">
				<div class="row mb-3">
					<div class="col-xl-8">
						<form
							class="row gy-2 gx-2 align-items-center justify-content-xl-start justify-content-between">
							<div class="col-auto">
								<label for="inputPassword2" class="visually-hidden">Search</label>
								<input
									type="search"
									class="form-control"
									id="projects_search"
									name="projects_search"
									placeholder="Search..."
									hx-get="{% url 'search_project' %}"
									hx-trigger="keyup changed delay:500ms, search"
									hx-target="#projects_table" />
							</div>
							<div class="col-auto">
								<div class="d-flex align-items-center">
									<label for="status-select" class="me-2">Status</label>
									<select
										class="form-select"
										id="status-select"
										name="status"
										hx-get="{% url 'select_property_status' %}"
										hx-trigger="change"
										hx-target="#projects_table">
										<option selected>Choose...</option>
										{% for status in ProjectStatus.choices %}
										<option value="{{ status.0 }}">
											{{ status.1|capfirst }}
										</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-auto">
								<a href="" class="btn btn-sm bg-secondary-lighten">Reset</a>
							</div>
						</form>
					</div>
					<div class="col-xl-4">
						<div class="text-xl-end mt-xl-0 mt-2">
							<button
								type="button"
								class="btn btn-danger mb-2 me-2"
								data-bs-toggle="modal"
								data-bs-target="#signup-modal">
								<i class="mdi mdi-basket me-1"></i> Add New Project
							</button>
						</div>
					</div>
					<!-- end col-->
				</div>
				<div class="table-responsive mt-n2">
					<table class="table table-centered table-hover table-nowrap mb-0">
						<thead>
							<tr>
								<th scope="col">Project Name</th>
								<th scope="col">Location</th>
								<th scope="col">Start Date</th>
								<th scope="col">End Date</th>
								<th scope="col">Status</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody id="projects_table">
							{% for project in projects %}
							<tr>
								<td>
									<a href="{% url 'project_detail' project.id %}">
										{{ project }}
									</a>
								</td>
								<td>{{ project.location|truncatechars:20 }}</td>
								<td>{{ project.start_date|date:'M d, Y' }}</td>
								<td>{{ project.end_date|date:'M d, Y' }}</td>

								<td>
									{% if project.status == 'backlog' %}
									<span class="badge bg-secondary-lighten text-secondary"
										>{{ project.status }}</span
									>
									{% elif project.status == 'planned' %}
									<span class="badge bg-warning-lighten text-warning"
										>{{ project.status }}</span
									>
									{% elif project.status == 'sold' %}
									<span class="badge bg-success text-white"
										>{{ project.status }}</span
									>
									{% elif project.status == 'paused' %}
									<span class="badge bg-secondary text-white"
										>{{ project.status }}</span
									>
									{% elif project.status == 'completed' %}
									<span class="badge bg-success-lighten text-success"
										>{{ project.status }}</span
									>
									{% elif project.status == 'canceled' %}
									<span class="badge bg-danger-lighten text-danger"
										>{{ project.status }}</span
									>
									{% else %}
									<span class="badge bg-primary-lighten text-primary"
										>{{ project.status }}</span
									>
									{% endif %}
								</td>
								<td class="d-flex">
									<a
										href="{% url 'project_edit' project.id %}"
										class="font-18 text-info me-2"
										data-bs-toggle="tooltip"
										data-bs-placement="top"
										title="Edit"
										><i class="uil uil-pen"></i
									></a>
									<form
										action="{% url 'project_delete' project.id %}"
										method="post">
										{% csrf_token %}
										<button
											class="btn btn-sm btn-outline-light"
											data-bs-toggle="tooltip"
											data-bs-placement="top"
											title="Delete">
											<i class="uil uil-trash text-danger"></i>
										</button>
									</form>
								</td>
							</tr>
							<!-- end tr -->
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- end col -->
</div>

<!-- Signup modal content -->
<div id="signup-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="auth-brand text-center mt-2 mb-4 position-relative top-0">
					<a href="index.html" class="logo-dark">
						<span
							><img
								src="{% static 'assets/images/logo-dark.png' %}"
								alt="dark logo"
								height="22"
						/></span>
					</a>
					<a href="index.html" class="logo-light">
						<span
							><img
								src="{% static 'assets/images/logo.png' %}"
								alt="logo"
								height="22"
						/></span>
					</a>
				</div>

				<form class="ps-3 pe-3" action="{% url 'add_project' business.id %}" method="post">
					{% csrf_token %}
					<!--  -->
					{{ form|crispy }}

					<div class="mb-3 text-center">
						<button class="btn btn-primary" type="submit">Add Project</button>
					</div>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
{% endblock %}
